@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-blue1: #192e58;
  --color-blue2: #26488b;
  --color-blue3: #1677ff;
  --color-red1: #c10629;
  --color-red2: #e82323;
  --color-gray1: #f8f8f8;
  --color-gray2: #d9d9d9;
  --color-gray3: #737373;
  --color-green1: #28a745;
  --color-orange1: #fe6a00;
}

.main-width {
  @apply w-370;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  @apply pt-[105px] min-h-screen;
}

#root {
  @apply flex flex-col min-h-screen; /* Sửa đổi từ min-h-full thành min-h-screen và thêm flex, flex-col */
}

main {
  @apply w-370 py-14 mx-auto space-y-15;
}

.admin-main {
  @apply pt-28;
}

.btn {
  @apply text-white text-sm h-11 px-3.5 rounded-md hover:opacity-80 transition-all duration-200 ease-out;
}

.btn-icon {
  @apply text-2xl hover:opacity-60 transition-all duration-200 ease-out;
}

.toolbar {
  @apply  w-full h-16 bg-blue1 text-white font-medium flex justify-center text-sm fixed z-5;
}

.toolbar > a {
  @apply flex gap-2.5 items-center px-10 hover:bg-[#26488B] transition-all duration-300 ease-out;
}

.ant-form-item-label > label, h4 {
  @apply text-base font-medium;
}

h4 {
  @apply mb-2.5;
}
