@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-blue1: #192e58;
  --color-blue2: #26488b;
  --color-blue3: #1677ff;
  --color-red1: #c10629;
  --color-red2: #e82323;
  --color-gray1: #f8f8f8;
  --color-gray2: #d9d9d9;
  --color-gray3: #737373;
  --color-green1: #28a745;
  --color-orange1: #fe6a00;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  @apply pt-[105px];
}

main {
  @apply w-[92.5rem] py-14 mx-auto;
}

.admin-main {
  @apply pt-28;
}

.btn-icon {
  @apply text-2xl opacity-100 hover:opacity-60 transition-all duration-200 ease-out;
}

.ant-form-item-label > label, h3 {
  @apply text-sm font-medium;
}
